*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
.box{
    width: 100%;
}
header{
    width: 100%;
    height: 100vh;
    background: url(../ddd.jpg);
    background-size: 105%;
    display: flex;
    justify-content: center;
  
    
    
}
.header_box{
width: 75%;
height: 700px;

margin-top: 50px    ;

    
}
nav{
width: 100%;
height: 60px;
display: flex;
justify-content: space-between;
align-items: center;



}
.nav_tt{
    width: 40%;
    height: 27px;
    display: flex;
    justify-content: space-between;
}
.nav_tt a{
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}
.nav_poisk{
    background: ;
    width: 61px;
    height: 61px;
    border-radius: 30px;
}
.header_info{

    width: 40%;
    height: 400px;

margin-top: 120px;
font-family: Arial, Helvetica, sans-serif;
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: space-between;
}
.header_info_min {
    width: 100%;
    height: 300px;
   
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
}
.header_info button{
    width: 30%;
    height: 45px;
    background: #FFFFFF;
    border-radius: 30px;
     
     font-weight: bold;
     border: none;
}
.header_info h1{
     font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 52px;
  font-style: normal;
  
}
.header_info p{
     
  font-size: 10px;

  
}
.header_info_min img{
    height: 10px;
}
.nav_img{
    height: 25px;
}
.meny{
    width: 100%;
    height: 220px;
    background: #E2D9C8;
    color: #544A3E;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.meny_box{
    width: 60%;
    height: 125px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.meny_box_section{
    width: 17%;
    height: 125px;
  
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    
   
}
.meny_box_section img{
    height: 92px;
    
}